/node_modules/
/dist/
.npmrc
.npmrc.bk
/packages/*/dist/
/packages/*/node_modules/
/packages/*/tsconfig.tsbuildinfo
/req/
/gth_*
/packages/assistant/integration-tests/workdir/gth_*
/packages/assistant/integration-tests/workdir/testreview.md
/packages/assistant/integration-tests/workdir/.gsloth.config.json
/packages/assistant/integration-tests/workdir-with-profiles/.gsloth/gth_*
/packages/assistant/integration-tests/workdir-with-profiles/testreview.md
/packages/assistant/integration-tests/workdir-with-profiles/.gsloth.config.json
/packages/assistant/integration-tests/workdir-with-profiles/**/.gsloth.config.json
/docs-generated
.junie
.idea
.claude/settings.local.json
*.iml
.gsloth/.gsloth-settings/jira/
.gsloth/gth_*
/gaunt-sloth.log
test-session.log
test.log
/vitest-it.config.d.ts
/vitest-it.config.js
/vitest-it.config.js.map
out/*
briefs/*
req
readonly
